<footer id="footer">
    <div class="git-container">
        <a href="https://github.com/Katie-Freeman/wordle-clash" target="_blank">
            <img src="/images/github.png" alt="github logo" />
        </a>
    </div>
</footer>

<script
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"
></script>
<script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js">
</script>
<script>
    $(document).on("click", ".navbar-right .dropdown-menu", function (e) {
    e.stopPropagation(); });
</script>
<script src="/js/darkmode.js"></script>