<nav class="navbar navbar-default navbar-expand-lg navbar-light">
    <ul class="nav navbar-nav navbar-right">
        {{#if username}}
            <li class="nav-item">
                <a>{{username}}</a>
            </li>
            <li class="nav-item">
                <a href="/user/logout">Log Out</a>
            </li>

        {{else}}			
			<li class="nav-item">
				<a data-toggle="dropdown" class="dropdown-toggle" >Login</a>
				<ul class="dropdown-menu form-wrapper">					
					<li>
					<li class="nav-item">
						<form action="/user/login" method="POST">
							<div class="form-group">
								<input id="loginUsername" type="text" class="form-control" placeholder="Username" name="name" required="required">
							</div>
							<div class="form-group">
								<input id="loginPassword" type="password" class="form-control" placeholder="Password" name="password" required="required">
							</div>
							<input type="submit" class="btn btn-primary btn-block" value="Login">
							{{!-- <div class="form-footer">
								<a href="#">Forgot Your password?</a>
							</div> --}}
						</form>
						{{#if message}}
							<div class="alert alert-danger" role="alert">
								{{message}}
							</div>
						{{/if}}
					</li>
				</ul>
			</li>
			<li>
				

			<li class="nav-item">
				<a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle get-started-btn mt-1 mb-1">Sign up</a>
				<ul class="dropdown-menu form-wrapper">					
					<li class="nav-item">
						<form action="/user/register" method="POST">
							<p class="hint-text">Fill in this form to create your account!</p>
                            <div class="form-group">
								<input id="registerEmail" type="text" class="form-control" placeholder="Email" name="email" required="required">
							</div>
							<div class="form-group">
								<input id="registerUsername" type="text" class="form-control" placeholder="Username" name="name" required="required">
							</div>
							<div class="form-group">
								<input id="registerPassword" type="password" class="form-control" placeholder="Password" name="password" required="required" onkeyup='check();'>
							</div>
							<div class="form-group">
								<input id="confirmPassword" type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password" required="required" onkeyup='check();'>
							</div>
							<input id="submitBtn" type="submit" class="btn btn-primary btn-block" disabled value="Sign up">
						</form>
					</li>
				</ul>
			</li>
			<a class="nav-link" href="/users/profile">Profile</a>
			<p>Hi {{User.name}}</p>
			{{/if}}
		</ul>
	</div>
</nav>                                                    
