<nav class="navbar navbar-default navbar-expand-lg navbar-light">

		<a href="/" class="logo-link"><img class="logo" src="/images/logo.png" alt="Wordle Clash"></a>
	<div class="navbar-header">
		<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
			<span class="navbar-toggler-icon"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
	
	<div id="navbarCollapse" class="collapse navbar-collapse">
		<ul class="nav navbar-nav navbar-right is-logged-in">
            {{#if username}}
			<li>
                <a class=" btn btn-primary dropdown-toggle get-started-btn" href="/profile">Profile</a>
            </li>
			<li>
                <a class=" btn btn-primary dropdown-toggle get-started-btn" href="/user/logout">Logout</a>
            </li>		
            <li>
				<p id="welcomeUser" href="/">Hi, {{username}}!</p>
			</li>
		</ul>			
		{{else}}
		<ul class="nav navbar-nav navbar-right">			
			<li>
				<a data-toggle="dropdown" class=" btn btn-primary dropdown-toggle get-started-btn mt-1 mb-1">Login</a>
				<ul class="dropdown-menu form-wrapper">					
					<li>
						<form action="/user/login" method="POST">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Username" name= "name" required="required">
							</div>
							<div class="form-group">
								<input type="password" class="form-control" placeholder="Password" name="password" required="required">
							</div>
							<input type="submit" class="btn btn-primary btn-block" value="Login">
							<div class="form-footer">
							</div>
						</form>
                        {{#if message}}
							<div class="alert alert-danger" role="alert">
								{{message}}
							</div>
						{{/if}}
					</li>
				</ul>
			</li>
			<li>
				<a  data-toggle="dropdown" class="btn btn-primary dropdown-toggle get-started-btn mt-1 mb-1">Sign up</a>
				<ul class="dropdown-menu form-wrapper">		
					<li>
						<form action="/user/register" method="POST">
							<p class="hint-text">Fill in this form to create your account!</p>
							<div class="form-group">
								<input type="email" class="form-control" placeholder="Email" name= "email" required="required">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Username" name= "name" required="required">
							</div>
							<div class="form-group">
								<input type="password" id="registerPassword" class="form-control" placeholder="Password" name= "password" required="required">
							</div>
							<div class="form-group">
								<input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password" name="confirmPassword" required="required">
							</div>
							<input type="submit" id="submitBtn" class="btn btn-primary btn-block" value="Sign up">
						</form>
					</li>
				</ul>
			</li>
            {{/if}}
		</ul>
			<div id="darkmode" class="dropdown-item">
			<input
				type="checkbox"
				class="checkbox"
				id="checkbox"
				onchange="toggleDarkMode()"
			/>
			<label for="checkbox" class="label">
				<i class="fas fa-moon" value="dark"></i>
				<i class="fas fa-sun" value="light"></i>
				<div class="ball"></div>
			</label>
        </div>
	</div>
</nav>                                                  
