<div class="dropdown">
    <i
        id="settingsLink"
        class="dropdown-toggle"
        data-toggle="dropdown"
        aria-expanded="false"
    >
        Settings
    </i>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="settingsLink">
        <div id="highcontrast" class="dropdown-item">
            <input
                type="checkbox"
                class="hc-checkbox"
                id="hc-checkbox"
                onchange="toggleHighContrast()"
            />
            <label for="hc-checkbox" class="label">
				
                <div class="ball"></div>
            </label>
        </div>
        <p id="HC-label">Color Blind Mode</p>
     </div>
</div>