<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DBtest</title>
    </head>


    <h1>DB TEST</h1>
    <form method="POST" action="/dbtest/adduser">
        <label for="">Add Account</label>
        <input type="text" placeholder="User" name="testDbUser">
        <input type="text" placeholder="Email" name="testDbEmail">
        <input type="text" placeholder="Pass" name="testDbPass">
        <button id="btnTestAddUser">Add User</button>
    </form>

    <br>


    <form method="POST" action="/dbtest/game-single">
        <label for="">Solo Game</label>
        <input type="number" placeholder="User ID" name="testDbGameUser">
        <label for="">attempts: </label>
        <input type="number" placeholder=" # of Attempts User2" name="testDbGameAttemptsUser">
        <input type="checkbox" placeholder="Winner Boolean" name="testDbWon">
        <label for="">win</label>

        <select name="NumberOfWords">
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
        </select>
        <label for="">words</label>
        <button id="btnTestAddGame">Add Single Game</button>


    </form>
    <br>
    <h4>multiplayer game :</h4>
    <form method="POST" action="/dbtest/game-multi">
        <input type="number" placeholder="User_id 1" name="testDbGameUser1">
        <label for="">attempts: </label>
        <input type="number" placeholder="# of Attempts User1" name="testDbGameAttemptsUser1">

        <br>
        <input type="number" placeholder="User_id 2" name="testDbGameUser2">
        <label for="">attempts: </label>
        <input type="number" placeholder=" # of Attempts User2" name="testDbGameAttemptsUser2">
        <label for="">winner:</label>
        <input type="numbers" placeholder="Winner ID" name="testDbWin">

        <select name="NumberOfWords">
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
        </select>
        <label for=""> words</label>
        <button id="btnTestAddGame">Add MultiPlayer Game</button>

    </form>
    <br>



    </body>

</html>