<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/game.css">

    <meta name="letterCount" id="letterCountMeta" content="{{ boxes.length }}">
    <title>Wordle Clash</title>
     {{>header}}
</head>
<body>
<header>
    {{>navbar}}
</header>
    <div id="gameContainer">
        <div id="controls">
            <i id="newGameLink">
                New Game
            </i>
            <i id="settingsLink">
                Settings
            </i>
        </div>
        <div id="guesses">
            {{!-- correct, wrong-placement, not-in-word --}}
            <div class="guess-row">
                {{#each boxes}}
                    <h2 class="guess-letter"></h2>
                {{/each}}
            </div>
            <div class="guess-row">
                {{#each boxes}}
                    <h2 class="guess-letter"></h2>
                {{/each}}
            </div>
            <div class="guess-row">
                {{#each boxes}}
                    <h2 class="guess-letter"></h2>
                {{/each}}
            </div>
            <div class="guess-row">
                {{#each boxes}}
                    <h2 class="guess-letter"></h2>
                {{/each}}
            </div>
            <div class="guess-row">
                {{#each boxes}}
                    <h2 class="guess-letter"></h2>
                {{/each}}
            </div>
            <div class="guess-row">
                {{#each boxes}}
                    <h2 class="guess-letter"></h2>
                {{/each}}
            </div>
        </div>
        <div id="status">
            <b>Solo</b>
        </div>
        <div id="keyboard">
            <div class="keyboard-row">
                <div id="q" class="key">Q</div>
                <div id="w" class="key">W</div>
                <div id="e" class="key">E</div>
                <div id="r" class="key">R</div>
                <div id="t" class="key">T</div>
                <div id="y" class="key">Y</div>
                <div id="u" class="key">U</div>
                <div id="i" class="key">I</div>
                <div id="o" class="key">O</div>
                <div id="p" class="key">P</div>
            </div>
            <div class="keyboard-row">
                <div id="a" class="key">A</div>
                <div id="s" class="key">S</div>
                <div id="d" class="key">D</div>
                <div id="f" class="key">F</div>
                <div id="g" class="key">G</div>
                <div id="h" class="key">H</div>
                <div id="j" class="key">J</div>
                <div id="k" class="key">K</div>
                <div id="l" class="key">L</div>
            </div>
            <div class="keyboard-row">
                <div id="enter" class="key">Enter</div>
                <div id="z" class="key">Z</div>
                <div id="x" class="key">X</div>
                <div id="c" class="key">C</div>
                <div id="v" class="key">V</div>
                <div id="b" class="key">B</div>
                <div id="n" class="key">N</div>
                <div id="m" class="key">M</div>
                <div id="backspace" class="key"><img src="/images/backspace.png" alt="backspace"></div>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="js/app.js"></script>
<footer>
    {{>footer}}
</footer>
</body>
</html>