<!DOCTYPE html>
<html lang="en">
<head>
{{>header}}
    <title>Document</title>
</head>
<body>
   {{>navbar}}
   <div class="move-right">
        {{>settings}}
    </div>
<div class="container">
<h3>HOW TO PLAY</h3>
<p>Guess the WORDLE in 6 tries.</p>
<br>
<p>Each guess must be a valid word. Hit the enter button to submit.</p>
<br>
<p>After each guess, the color of the tiles will change to show how close your guess was to the word.</p>
<br>
<p>Examples</p>
<br>
<img src="/images/instructions1.png">
<br>
<p>The letter S and E are in the word and in the correct spot.</p>
<br>
<img src="/images/instructions2.png">
<br>  
<p>The letter e is in the word but in the wrong spot.</p>
<br>
<img src="/images/instructions3.png">
<br>
<p>The letters are not in the word in any spot.</p>
</div>

{{>footer}}
</body>
</html>