<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <div class="move-right">
            {{>settings}}
        </div>
            <h1>Creat Your account</h1>
        <form id="register" method= 'POST' action= "/register">
            <label>email :
            <input id="email" type="text" placeholder ="Email" name="email" required/>
            </label>
            <label>username :
            <input id="username" type="text" placeholder ="Username" name="username" required/>
            </label>
            <label>password :
                <input name="password" id="password" type="password" onkeyup='check();' required />
            </label>
            <br>
            <label>confirm password:
                <input type="password" name= "confirmPassword" id="confirmPassword" onkeyup='check();' required />
                <span id='message'></span>
            </label>
            <button id= "save">Create Account</button>
        </form>

</body>
</html>