:root {
    --color-bg: rgb(255, 255, 255);
    --color-secondary: rgb(211, 211, 211);
    --color-highlight: rgb(169, 169, 169);
    --color-font: rgb(0, 0, 0);
    --color-correct: rgb(0, 128, 0);
    --color-out: rgb(211, 211, 6);
}
