@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@700&display=swap");
@import url("colors.css");

#gameContainer,
#guesses,
.guess-row,
#keyboard,
.keyboard-row {
    display: flex;
}

.hr {
    border: 1px solid var(--color-secondary);
    width: 100%;
}
#warning {
    background-color: var(--color-bg);
    color: var(--color-font);
    padding: 1em;
    width: 184px;
    text-align: center;
    position: absolute;
    top: 2em;
    opacity: 0;
    left: calc(50% - 92px);
    border-radius: 20px;
    transition: 0.2s ease-in;
}

#warning.active {
    top: 6em;
    opacity: 1;
    z-index: 2;
}

.game-popup {
    background-color: var(--color-bg);
    color: var(--color-font);
    display: flex;
    flex-direction: column;
    row-gap: 0.6em;
    padding: 1em;
    width: 300px;
    text-align: center;
    position: absolute;
    top: 3em;
    opacity: 0;
    left: calc(50% - 150px);
    border-radius: 30px;
    box-shadow: 2px 2px 15px goldenrod;
}

.game-popup.active {
    transition: 0.2s ease-in;
    top: 6em;
    opacity: 1;
    z-index: 2;
}

#result {
    height: 300px;
}

#result.match {
    width: 350px;
    left: calc(50% - 175px);
    height: 490px;
}

.gameButtons {
    display: flex;
    flex-direction: column;
}
#solo,
#match {
    background-color: var(--color-correct);
    border: var(--color-correct);
}

.secret {
    font-family: "Overpass Mono", monospace;
    font-weight: 700;
    margin: 0;
}

#again {
    margin: auto 0 0;
}

#gameContainer {
    flex-direction: column;
    background-color: var(--color-bg);
    max-width: 800px;
    height: calc(100vh - 135px);
    height: calc(var(--vh, 1vh) * 100 - 135px);
    margin: 0 auto;
    color: var(--color-font);
    font-family: "Overpass Mono", monospace;
    font-weight: 700;
}

#controls {
    padding: 1em 1em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#controls i:hover {
    color: var(--color-highlight);
    cursor: pointer;
}

#controls i:active {
    color: var(--color-font);
}

#guesses {
    flex-direction: column;
    row-gap: 0.7em;
    background-color: var(--color-bg);
    padding: 0 1em 1em;
    max-height: var(--max, 100vh);
    overflow-y: auto;
}

#guesses.loading {
    justify-content: center;
    row-gap: 2em;
    align-items: center;
    width: 100%;
    height: 100%;
}

#match-pending {
    width: 90%;
    max-width: 600px;
    text-align: center;
}

.progress {
    margin-top: 2em;
}

.progress-bar.loading {
    width: 100%;
    animation: 0.6s linear infinite progress-bar;
}

@keyframes progress-bar {
    0% {
        background-position-x: 40px;
    }
}

.guess-row {
    justify-content: center;
    column-gap: 4px;
}

.guess-row.active {
    background-color: var(--color-highlight);
}

.guess-letter {
    background-color: var(--color-bg);
    /* padding: 12px 24px; */
    padding: 8px 14px;
    width: 44px;
    height: 46px;
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    border: 1px solid var(--color-font);
    transition: background-color 0.5s ease-in;
}

.flip {
    animation-name: flip;
    animation-duration: 0.5s;
}

@keyframes flip {
    0% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

.shake {
    animation-name: shake;
    animation-duration: 0.1s;
    animation-iteration-count: 5;
}

@keyframes shake {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-0.2em);
    }

    0% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(0.2em);
    }

    100% {
        transform: translateY(0);
    }
}

#keyboard {
    background-color: var(--color-bg);
    flex-direction: column;
    margin-top: auto;
    padding: 1em;
    row-gap: 8px;
}

.keyboard-row {
    justify-content: center;
    column-gap: 8px;
}

.key {
    background-color: var(--color-secondary);
    padding: 0.5em 0.5em 0.25em;
    cursor: pointer;
}

.key:active {
    background-color: var(--color-highlight);
}

.guess-letter,
.key {
    border-radius: 7px;
}

.correct {
    background-color: var(--color-correct);
}

.wrong-placement {
    background-color: var(--color-out);
}

.not-in-word {
    background-color: var(--color-highlight);
}

#status {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1.5em;
}

.opponent-guess-letter {
    padding: 5px;
    color: rgba(0, 0, 0, 0);
}

#hideCount {
    display: none;
}

.match-stats {
    font-size: 0.7em;
    display: flex;
    justify-content: space-around;
}

.stat {
    border: 1px solid darkgray;
    padding: 1em;
}

.stat h4 {
    margin-top: 0;
}

@media screen and (min-width: 550px) {
    .key {
        font-size: 1.3em;
        padding: 0.7em 0.7em 0.5em;
    }

    #controls {
        padding: 1em 9em 0;
    }
}
