@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@700&display=swap");

#gameContainer,
#guesses,
.guess-row,
#keyboard,
.keyboard-row {
  display: flex;
}

.hr {
    border: 1px solid lightgray;
    width: 100%;
}
#warning {
    background-color: white;
    padding: 1em;
    width: 184px;
    text-align: center;
    position: absolute;
    top: 2em;
    opacity: 0;
    left: calc(50% - 92px);
    border-radius: 20px;
    transition: 0.2s ease-in;
}

#warning.active {
    top: 6em;
    opacity: 1;
    z-index: 2;
}

.game-popup {
    background-color: white;
    display: flex;
    flex-direction: column;
    row-gap: 0.6em;
    padding: 1em;
    width: 300px;
    text-align: center;
    position: absolute;
    top: 3em;
    opacity: 0;
    left: calc(50% - 150px);
    border-radius: 30px;
    box-shadow: 2px 2px 15px gold;
}

.game-popup.active {
    transition: 0.2s ease-in;
    top: 6em;
    opacity: 1;
    z-index: 2;
}

#result {
    height: 300px;
}

.gameButtons {
    display: flex;
    flex-direction: column;
}
.secret {
  font-family: "Overpass Mono", monospace;
  font-weight: 700;
  margin: 0;
}

#again {
  margin: auto 0 0;
}

#gameContainer {

    flex-direction: column;
    /* row-gap: 2em; */
    background-color: #222;
    max-width: 800px;
    height: calc(100vh - 135px);
    height: calc(var(--vh, 1vh) * 100 - 135px);
    margin: 0 auto;
    color: white;
    font-family: "Overpass Mono", monospace;
    font-weight: 700;
}

#controls {
    padding: 1em 1em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#controls i:hover {
    color: rgb(255, 255, 6);
    cursor: pointer;
}

#controls i:active {
    color: rgb(155, 155, 6);
}

#guesses {
    flex-direction: column;
    row-gap: 0.7em;
    background-color: #222;
    padding: 0 1em 1em;
    max-height: var(--max, 100vh);
    overflow-y: auto;
}

#guesses.loading {
    justify-content: center;
    row-gap: 2em;
    align-items: center;
    width: 100%;
    height: 100%;
}

#match-pending {
    width: 90%;
    max-width: 600px;
    text-align: center;
}

.progress {
    margin-top: 2em;
}

.progress-bar.loading {
    width: 100%;
    animation: 0.6s linear infinite progress-bar;
}

@keyframes progress-bar {
    0% {
        background-position-x: 40px;
    }
}

.guess-row {
  justify-content: center;
  column-gap: 4px;
}

.guess-row.active {
  background-color: #555;
}

.guess-letter {
    background-color: #222;
    /* padding: 12px 24px; */
    padding: 8px 14px;
    width: 44px;
    height: 46px;
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    border: 1px solid #555;
    transition: background-color 0.5s ease-in;
}

.flip {
  animation-name: flip;
  animation-duration: 0.5s;
}

@keyframes flip {
  0% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

.shake {
  animation-name: shake;
  animation-duration: 0.1s;
  animation-iteration-count: 5;
}

@keyframes shake {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-0.2em);
  }

  0% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(0.2em);
  }

  100% {
    transform: translateY(0);
  }
}

#keyboard {
  background-color: #222;
  flex-direction: column;
  margin-top: auto;
  padding: 1em;
  row-gap: 8px;
}

.keyboard-row {
  justify-content: center;
  column-gap: 8px;
}

.key {
  background-color: #555;
  padding: 0.5em 0.5em 0.25em;
  cursor: pointer;
}

.key:active {
  background-color: #777;
}

.guess-letter,
.key {
  border-radius: 7px;
}

.correct {
  background-color: rgb(2, 85, 2);
}

.wrong-placement {
  background-color: rgb(155, 155, 6);
}

.not-in-word {
  background-color: #333;
}

#status {
    display: flex;
    column-gap: 1.5em;
}

.opponent-guess-letter {
    padding: 5px;
    color: rgba(0, 0, 0, 0);
}

#hideCount {
  display: none;
}

@media screen and (min-width: 550px) {

    .key {
        font-size: 1.3em;
        padding: 0.7em 0.7em 0.5em;
    }

    #controls {
        padding: 1em 9em 0;
    }

