/* html,
body {
  height: 100vh;
} */

#profileWrap {
  display: block;
  max-width: 800px;
  margin: 40px auto;
  text-align: center;
}

#tableContainer {
  display: inline-block;
  margin: 20px auto;
  border: 1px solid firebrick;
  padding: 20px;
  border-radius: 8px;
}

#infoName {
  font-size: 16px;
  color: firebrick;
  font-weight: bold;
}
#infoEmail {
  font-weight: bolder;
}

.statsTable {
  margin: auto;
  text-align: left;
}
.statsTable tr {
  height: 30px;
}
.statsTable td {
  width: 40px;
}
.statsTable td:first-child {
  width: 140px;
  text-align: right;
  padding-right: 20px;
  /* background-color: black; */
}

.statsTable td:nth-child(2) {
  color: firebrick;
}
.statsTable tr:first-child td:first-child {
  padding: 0;
  text-align: left;
  font-weight: 600;
  font-size: 20px;
  color: firebrick;
}

#statGraph {
  position: relative;
  width: 320px;
  margin: auto;
  height: 100vh;
}
#labelTotal {
  position: absolute;
  width: 100%;
  margin-top: 140px;
}

.gamePlayed {
  font-size: 28px;
  color: firebrick;
}

#gameSelector {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}
#btnSolo,
#btnMulti {
  color: brown;
  cursor: pointer;
}
#btnSolo:hover,
#btnMulti:hover {
  text-decoration: underline;
}

#multiStats {
  display: none;
}

#labelTotalMulti {
  display: none;
  position: absolute;
  width: 100%;
  margin-top: 140px;
}
