@import url("colors.css");

* {
    box-sizing: border-box;
}

body {
    font-family: "Varela Round", sans-serif;
    padding: 0;
    margin: 0;
    transition: background 0.2s linear;
    background-color: var(--color-bg);
}

.container.instructions {
    height: calc(var(--vh, 1vh) * 100 - 135px);
}

#footer {
    text-align: center;
    margin-top: 20px;
    padding: 5px;
    background-color: var(--color-bg);
    box-shadow: -2px 0px 10px rgba(10, 10, 10, 0.6);
}

.github-container {
    margin: 0 auto;
}

.move-right {
    position: absolute;
    right: 3em;
}

.checkbox, .hc-checkbox {
    opacity: 0;
}

.game-link {
    text-decoration: none;
    color: var(--color-font);
}

.game-link:hover {
    text-decoration: none;
    color: var(--color-highlight);
}

#darkmode, #highcontrast {
    position: relative;
    left: 60px;
    bottom: 5px;
}

.label, .hCLabel {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 19px;
    width: 40px;
    transform: scale(1.5);
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 15px;
    width: 15px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(21px);
}

.hc-checkbox:checked + .label .ball {
    transform: translateX(21px);
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}
